* {
  font-family: 'メイリオ';
  font-size: 7pt;
  margin: 0;
  padding: 0;
}

body {
  width: 130px;
  height: 125px;
}

table.calendar {
  text-align: center;
}

#calendar {
  margin: 5px 0px;
}

#today {
  color: #ffffff;
  background-color: #ff6600;
}

#month {
  font-size: 15px;
  height: 50px;
  vertical-align: middle;
}

